[Unit]
Description=Pachka Bot 2 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/titkov/find_sims
Environment=PATH=/home/titkov/find_sims/find_sims_env/bin
ExecStart=/home/titkov/find_sims/find_sims_env/bin/python /home/titkov/find_sims/start_bot2.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 